body {
  min-width: 1200px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #333333;
  background-color: #f2f2f2;
}

h2 {
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 21px;
  color: #000000;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.box-shadow {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  box-shadow: 5px 0 25px 0 #dbdbdb,
   -5px 0 25px 0 #dbdbdb;
}

.page-header {
  position: relative;
  z-index: 2;
  background: #ffffff;
}

.header-top {
  padding: 0 6%;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -69px;
}

.navigation ul {
  margin: 0;
  padding: 0;
  font-size: 0;
  font-weight: 700;
  list-style: none;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
  padding: 16px 0;
  width: 20%;
  font-size: 14px;
  line-height: 24px;
}

.navigation li:nth-child(2) {
  margin-right: 20%;
  text-indent: 29px;
}

.navigation li:nth-child(3) {
  text-indent: 92px;
}

.navigation li:nth-child(4) {
  text-align: right;
}

.navigation a {
  text-decoration: none;
  color:#000000;
}

.navigation a:hover {
  color: #81b3d2;
}

.navigation a:active {
  color: #b2b2b2;
}

.navigation a.active {
  color: #766357;
}

.navigation a.active:hover {
  color: #604e43;
}

.navigation a.active:active {
  color: #b2b2b2;
}

.main-container {
  background-color: #ffffff;
}

.page-sedona {
  position: relative;
  background: url("../img/page-sedona.jpg") no-repeat center top;
}

.page-sedona::before {
  content: "";
  position: absolute;
  display: block;
  top: 453px;
  left: 0;
  width: 1200px;
  height: 57px;
  background: url("../img/1-shape.png") no-repeat center top;
}

.page-sedona img {
  display: block;
  width: 460px;
  margin: 0 auto;
  margin-bottom: 45px;
  padding: 75px 0;
  padding-bottom: 93px;
}

.title {
  width: 546px;
  margin: 0 auto;
  margin-bottom: 52px;
  text-align: center;
}

.title h2 {
  margin-bottom: 30px;

}

.title p {
  margin-right:9px;
  color:#333333;
}

.info-city {
  float: left;
  padding-bottom: 27px;
  width: 400px;
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.info-city h2 {
  display: inline-block;
  width: 160px;
  margin-top: 55px;
  margin-bottom: 10px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #ffffff;
}

.info-city p {
  padding-bottom: 9px;

}

.img-city {
  float: left;
  width: 800px;
  height: 256px;
}

.features {
  text-align: center;
  font-size: 0;
}

.features-item {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 400px;
  font-size: 14px;
  background: #ffffff;
}

.features-item:nth-child(1)::before {
 content: "";
 position: absolute;
 display: block;
 top: 60px;
 left: 162px;
 width: 755px;
 height: 75px;
 background-image: url("../img/icon-2.png");
 background-repeat: no-repeat;
}

.features-item:nth-child(2)::before {
 content: "";
 position: absolute;
 display: block;
 top: 60px;
 left: 162px;
 width: 80px;
 height: 70px;
 background-image: url("../img/icon-3.png");
 background-repeat: no-repeat;
}

.features-item:nth-child(3)::before {
  content: "";
 position: absolute;
 display: block;
 top: 58px;
 left: 167px;
 width: 70px;
 height: 80px;
 background-image: url("../img/icon-1.png");
 background-repeat: no-repeat;
}

.features-item h2 {
  display: block;
  margin-top: 23px;
  padding-top: 140px;
  margin-bottom: 23px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.features-item p {
  display:block;
  margin-bottom: 30px;
  padding: 0 50px;
  padding-bottom: 50px;
}

.benefits {
  margin-bottom: 56px;
  text-align: center;
  font-size: 0;
}

.benefits-item {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  min-height: 257px;
  font-size: 14px;
  background: #eeeeee;
}

.benefits-item h2 {
  display: block;
  margin: 0 120px;
  margin-top: 17px;
  padding-top: 30px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.benefits-item p {
  display: block;
  margin: 0 40px;
  padding: 0 30px;
  padding-top: 23px;
}

.benefits-item p:last-child {
  margin-bottom: 58px;
}

.title-item {
  margin-bottom: 135px;
}

.title-item h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
}

.title-item p {
  text-indent: 7px;
  font-size: 14px;
  line-height: 24px;
}

.meta-sedona {
  position: relative;
  background-color: #ffffff;
}

.meta-item {
  position: absolute;
  top: -88px;
  left: 315px;
  width: 570px;
  z-index: 2;
  margin: 0 auto;
  background: #ffffff;
}

.meta-item a {
  display: inline-block;
  padding: 30px 140px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  background-color: #766357;
  color: #ffffff;
  border: none;
}
.appointment-form {
  display: block;
  width: 459px;
  margin: 0 auto;
  margin-top: 39px;
}

.appointment-form label {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.appointment-form input {
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  margin: 15px 0;
  margin-left: 23px;
  border: none;
  color: #000000;
  background-color: #f2f2f2;
}

.meta-data .out input {
  margin-left: 19px;
}

.appointment-form input:nth-child(1)[type=text],
.appointment-form input:nth-child(2) {
  width: 296px;
  height: 38px;
  text-align: left;
  padding-left: 11px;
  padding-right: 38px;
}

.appointment-form  {
  position: relative;
}

.calendar::before {
  content: "";
  position: absolute;
  top: 35px;
  left: 439px;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.out::before {
  content: "";
  position: absolute;
  top: 101px;
  left: 439px;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -10px;
}

.calendar:hover::before {
  width: 21px;
  height: 22px;
  background-position: -10px -94px;
}

.calendar:active::before {
  width: 21px;
  height: 22px;
  background-position: -10px -52px;
}

.out:hover::before {
  width: 21px;
  height: 22px;
  background-position: -10px -94px;
}

.out:active::before {
  width: 21px;
  height: 22px;
  background-position: -10px -52px;
}


.appointment-form input:hover {
  background-color: #ebebeb;
}

.appointment-form input:active {
  background-color: #ffffff;
  border-color: #e5e5e5;
}

.appointment-form input[type=text] {
  padding: 0 30px;
  text-align: center;
  width: 55px;
  height: 38px;
}

.adult input[type=text] {
  position: relative;
  margin-left: 40px;
  margin-right: 50px;
  z-index: 1;
}

.adult {
  position: relative;
}

 .minus {
  position: absolute;
  display: block;
  top: 7px;
  left: 127px;
  z-index: 2;
  width: 12px;
  height: 3px;
  font-size: 14px;
  line-height: 26px;
  cursor: pointer;
  border: none;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -1075px;
}

 .minus:hover {
   width: 12px;
   height: 3px;
   background-position: -10px -1121px;
 }

 .minus:active {
   width: 12px;
   height: 3px;
   background-position: -10px -1098px;
 }

 .plus {
  position: absolute;
  display: block;
  z-index: 2;
  top: 3px;
  left: 202px;
  width: 11px;
  height: 11px;
  cursor: pointer;
  border: none;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -1251px;
}

.plus:hover {
  width: 11px;
  height: 11px;
  background-position: -10px -1223px;
 }

 .plus:active {
   width: 11px;
   height: 11px;
   background-position: -10px -1290px;
 }

.children {
  position: relative;
  z-index: 1;
}

.minus-item {
  left: 79px;
}

.plus-item {
  left: 155px;
}

.children input[type=text] {
  margin-left: 25px;
}

.meta-btn input {
  display: block;
  padding: 16px 195px;
  margin: 0 auto;
  margin-bottom: 56px;
  margin-top: 38px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  font-family: "PT Sans", sans-serif;
  vertical-align: top;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #81b3d2;
  border: none;
}

.meta-btn input:hover {
  background-color: #669ec0;
}

.meta-btn input:active {
  background-color: #5496bd;
  color: rgba(136, 182, 209, 1);
}

/*Вторая страница*/

.produce-product {
  width: 100%;
  height: 218px;
  background-image: url("../img/filter-background-1.jpg");
  background-repeat: no-repeat;
}

.info-item {
  position: relative;
  display: block;
  z-index: 2;
  margin: 0 6%;
}

.filter-range {
 float: left;
 margin: 27px auto;
 margin-bottom: 20px;
 color: #ffffff;
 text-transform: uppercase;
}

input[type=checkbox] {
  display: none;
}

.login-checkbox {
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px;
  cursor: pointer;
}

.filter-range .login-checkbox {
  display: block;
  padding-bottom: 25px;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator {
  position: absolute;
  top: -2px;
  left: 0;
  width: 22px;
  height: 22px;
  background-position: -10px -1186px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.login-checkbox input[type="checkbox"] + .checkbox-indicator:active {
  width: 22px;
  height: 22px;
  background-position: -10px -1144px;
}

.login-checkbox input[type="checkbox"]:checked + .checkbox-indicator:active {
  width: 26px;
  height: 22px;
  background-position: -10px -178px;
}

.login-checkbox input[type="checkbox"]:checked  + .checkbox-indicator {
  width: 26px;
  height: 22px;
  background-position: -10px -136px;
}

.filter-range:nth-child(1) {
  width: 20%;
  margin-right: 44px;
}

.filter-range:nth-child(2) {
  width: 20%;
}

.filter-range:nth-child(3) {
  float: right;
  width: 330px;
}

.filter-range-title {
  margin-bottom: 25px;
}

.filter-range .filter-range-title {
  font-size: 16px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
}

.filter-range-ite {
  margin-left: 4px;
  margin-bottom: 10px;
}

.price-controls {
  position: relative;
  height: 32px;
  width: 315px;
  margin-left: 11px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 160px;
  width: 2px;
  height: 22px;
  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;
  padding-top: 5px;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 80px;
  padding-left: 67px;

}

.price-controls input {
  width: 40px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  margin-left: 20px;
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
  width: 309px;
}

.range-controls .bar {
  width: 78%;
  height: 2px;
  margin-left: 10px;
  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 4%;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 31px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.text-container {
  position: relative;
  float: left;
  z-index: 5;
  margin-top: 15px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5;
  font-size: 0;
}

.text {
  display: inline-block;
  vertical-align: top;
}

.text b {
  margin-left: 73px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}
.text span {
  margin-left: 47px;
  margin-right: 43px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.text-item {
  display: inline-block;
  vertical-align: top;
  padding-top: 7px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.text-item span {
  margin-right: 30px;
}

.text-item .type,
.text-item .rating {
  color: #d6d6d6;
  cursor: pointer;
  border-bottom: 1px dotted #81b3d2;
}

.text-item .type:hover,
.text-item .rating:hover {
  color: #81b3d2;
}

.text-item .type:active,
.text-item .rating:active {
  color: #444444;
  border: none;
}

.text-item .price {
  color: #81b3d2;
  border: none;
}

.control-item {
  float: right;
  margin-right: 62px;
  cursor: pointer;
  font-size: 14px;
}

.control-item {
  float: right;
}

.control-item .no-activ,
.control-item .active-control {
  display: inline-block;
  vertical-align: middle;
  width: 11px;
  height: 10px;
  margin: 0 5px;
  margin-top: 16px;
  font-size: 0;
  text-decoration: none;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -913px;
}

.control-item .no-activ:hover {
  width: 11px;
  height: 10px;
  background-position: -10px -973px;
}

.control-item .no-activ:active {
  width: 11px;
  height: 10px;
  background-position: -10px -943px;
}

.control-item .active-control {
  width: 11px;
  height: 10px;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -675px;
}

.holder {
  min-height: 454px;
  background-color: #ffffff;
}

.holder-item {
  margin: 0 auto;
  padding: 29px 0;
  width: 1056px;
}

.holder-border {
  border-bottom: 1px solid #e5e5e5;
}

.holder-item img {
  float: left;
  height: 90px;
  width: 135px;
  margin-right: 31px;
}

.holder-item a {
  text-decoration: none;
}

.aside-item {
  float: left;
}

.aside-item h2 {
  margin: 0 0;
  padding: 0 0;
  padding-bottom: 9px;
  font-size: 21px;
  line-height: 21px;
}

.aside-item h2:hover {
  color: #81b3d2;
}

.aside-item h2:active {
  color: #cacaca;
}

.aside-item .cost {
  width: 180px;
  color: #333333;
}

.aside-item .cost-item {
  float: right;
}

.block-btn {
  margin-top: 13px;
  margin-left: 0px;
}

.block-btn a {
  display: inline-block;
  padding: 3px 17px;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  background-color: #766357;
  border: none;
}

.block-btn a:hover {
  background-color: #604e43;
}

.block-btn a:active {
  background-color: #503e33;
  color: #857871;
}

.block-btn a:first-child {
  background-color: #81b3d2;
}

.block-btn a:first-child:hover  {
  background-color: #669ec0;
}

.block-btn a:first-child:active  {
  background-color: #5496bd;
  color: #88b6d1;
}

.pic {
  float: right;
  width: 113px;
}

.pic .stars {
  float: right;
}

.pic .rating {
  display: inline-block;
  width: 111px;
  margin-top: 42px;
  margin-left: 4px;
  padding: 3px 0;
  text-align: center;
  background-color: #f2f2f2;
}

.stars span {
  display: inline-block;
  margin-left: 1px;
  width: 18px;
  height: 17px;
  background-position: -10px -1321px;
  background-image: url("../img/sprite.png");
}

.stars .stars-1 {
  background-image: none;
}

.stars .stars-1-2,
.stars .stars-2-2,
.stars .stars-3-2 {
  background-image: none;
}

.stars .stars-1-3,
.stars .stars-2-3 {
  background-image: none;
}

.img-map {
  position: relative;
  z-index: 1;
}

.main-footer {
  padding-top: 28px;
  padding-bottom: 30px;
  color: #000000;
  background-color: #ffffff;
  font-size: 0;
}

.main-footer-item {
  position: absolute;
  z-index: 50;
  bottom: 6px;
  background: rgba(255,255,255, 0.9);
  padding-top: 29px;
}

.box {
  text-align: center;
  font-size: 21px;
}

.footer-sedona {
  display: inline-block;
  width: 33%;
  padding: 17px 0;
  vertical-align: top;
  text-align: center;
  color: #262626;
}

.footer-sedona a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.footer-social {
  display: inline-block;
  width: 33%;
  padding: 7px 0;
  vertical-align: top;
  text-align: center;
}

.social-btn {
  position: relative;
  width: 46px;
  height: 48px;
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  text-decoration: none;
  background: #81b3d2;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
}

.social-btn-vk::before {
  width: 17px;
  height: 15px;
  background-position: -10px -843px;
}

.social-btn-vk:active::before {
  width: 17px;
  height: 15px;
  background-position: -10px -878px;
}

.social-btn-fb::before {
  width: 10px;
  height: 19px;
  background-position: -10px -765px;
}

.social-btn-fb:active::before {
  width: 10px;
  height: 19px;
  background-position: -10px -804px;
}


.social-btn-youtube::before {
  width: 20px;
  height: 16px;
  background-position: -10px -1003px;
}

.social-btn-youtube:active::before {
  width: 20px;
  height: 16px;
  background-position: -10px -1039px;
}

.social-btn:hover {
  background-color: #669ec0;
}

.social-btn:active {
  background-color: #5496bd;
}

.icon-html {
  display: inline-block;
  width: 33%;
  vertical-align: top;
  text-align: center;
}

.icon-html p {
  padding-top: 4px;
  text-align: left;
  font-size: 14px;
  line-height: 26px;
  text-indent: 100px;
  color: #6a6a69;
}

.icon-html {
  position: relative;
}

.html-academy {
  position: absolute;
  top: 30px;;
  left: 237px;
  width: 113px;
  height: 39px;
  text-decoration: none;
  transform: translate(-50%, -50%);
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -10px -220px;
}

.html-academy:hover {
  width: 113px;
  height: 39px;
  background-position: -10px -338px;
}

.html-academy:active {
  width: 113px;
  height: 39px;
  background-position: -10px -279px;
}

/*Спрайты*/
.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-calendar {
    width: 21px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-calendar-active {
    width: 21px;
    height: 22px;
    background-position: -10px -52px;
}

.sprite-calendar-hover {
    width: 21px;
    height: 22px;
    background-position: -10px -94px;
}

.sprite-check {
    width: 26px;
    height: 22px;
    background-position: -10px -136px;
}

.sprite-check-hover {
    width: 26px;
    height: 22px;
    background-position: -10px -178px;
}

.sprite-html {
    width: 113px;
    height: 39px;
    background-position: -10px -220px;
}

.sprite-html-active {
    width: 113px;
    height: 39px;
    background-position: -10px -279px;
}

.sprite-html-hover {
    width: 113px;
    height: 39px;
    background-position: -10px -338px;
}

.sprite-icon-1 {
    width: 64px;
    height: 76px;
    background-position: -10px -397px;
}

.sprite-icon-2 {
    width: 75px;
    height: 72px;
    background-position: -10px -493px;
}

.sprite-icon-3 {
    width: 74px;
    height: 70px;
    background-position: -10px -585px;
}

.sprite-icon-down {
    width: 11px;
    height: 10px;
    background-position: -10px -675px;
}

.sprite-icon-down-active {
    width: 11px;
    height: 10px;
    background-position: -10px -705px;
}

.sprite-icon-down-hover {
    width: 11px;
    height: 10px;
    background-position: -10px -735px;
}

.sprite-icon-fb {
    width: 10px;
    height: 19px;
    background-position: -10px -765px;
}

.sprite-icon-fb-active {
    width: 10px;
    height: 19px;
    background-position: -10px -804px;
}

.sprite-icon-tw {
    width: 17px;
    height: 15px;
    background-position: -10px -843px;
}

.sprite-icon-tw-active {
    width: 17px;
    height: 15px;
    background-position: -10px -878px;
}

.sprite-icon-up {
    width: 11px;
    height: 10px;
    background-position: -10px -913px;
}

.sprite-icon-up-active {
    width: 11px;
    height: 10px;
    background-position: -10px -943px;
}

.sprite-icon-up-hover {
    width: 11px;
    height: 10px;
    background-position: -10px -973px;
}

.sprite-icon-yt {
    width: 20px;
    height: 16px;
    background-position: -10px -1003px;
}

.sprite-icon-yt-active {
    width: 20px;
    height: 16px;
    background-position: -10px -1039px;
}

.sprite-minus {
    width: 12px;
    height: 3px;
    background-position: -10px -1075px;
}

.sprite-minus-active {
    width: 12px;
    height: 3px;
    background-position: -10px -1098px;
}

.sprite-minus-hover {
    width: 12px;
    height: 3px;
    background-position: -10px -1121px;
}

.sprite-no-check {
    width: 22px;
    height: 22px;
    background-position: -10px -1144px;
}

.sprite-no-check-hover {
    width: 22px;
    height: 22px;
    background-position: -10px -1186px;
}

.sprite-plus {
    width: 11px;
    height: 11px;
    background-position: -10px -1228px;
}

.sprite-plus-active {
    width: 11px;
    height: 11px;
    background-position: -10px -1259px;
}

.sprite-plus-hover {
    width: 11px;
    height: 11px;
    background-position: -10px -1290px;
}

.sprite-star {
    width: 89px;
    height: 17px;
    background-position: -10px -1321px;
}
