body {
  min-width: 1200px;
  color: #333333;
  line-height: 21px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  text-transform: uppercase;
}
h2 {
  color: #000000;
  line-height: 26px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: bold;
  font-size: 21px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  width: 1200px;
}

.page-header {
  position: relative;
  min-height: 56px;
  background: yellow;
}

.logo {
  position: absolute;
  left: 600px;
  top: 0;
}

.navigation ul {
  font-size: 0;
}

.navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 24px;
}

.main-container {
  width: 1200px;
}

.title-sedona {
  margin-top: 50px;
  background: yellow;
  min-height: 824px;
}

.title {
  background: yellow;
  width: 576px;
  margin: 0 auto;
}

.container-item {
  width: 1200px;
  background: green;
}

.info-city {
  float: left;
  width: 400px;
  background: yellow;
}

.img-city {
  float: left;
}

.features {
  width: 1200px;
  min-height: 330px;
  background: red;
  font-size: 0;
}

.features-item {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  background: yellow;
  font-size: 14px;
}

.benefits {
  width: 1200px;
  min-height: 257px;
  background: red;
  font-size: 0;
}

.benefits-item {
  display: inline-block;
  vertical-align: top;
  width: 400px;
  background: yellow;
  font-size: 14px;
}

.section-sedona {
  width: 1200px;
}

.meta-sedona {
  width: 1200px;
  min-height: 485px;
  background: blue;
}

.meta-item {
  margin: 0 auto;
  min-height: 485px;
  width: 568px;
  background: yellow;
}

.produce-product {
  min-height: 218px;
  background: blue;
}

.info-item {
  float: left;
  background: yellow;
}

.info-item:last-child {
  float: right;
}

.text-container {
  min-height: 86px;
  background: red;
  font-size: 0;
}

.text {
  display: inline-block;
  vertical-align: top;
  width: 240px;
  background: yellow;
  font-size: 14px;
}

.text-item {
  display: inline-block;
  vertical-align: top;
  width: 288px;
  background: yellow;
  font-size: 14px;
}

.control-item {
  float: right;
  width: 288px;
  background: blue;
  font-size: 14px;
}

.holder {
  min-height: 454px;
  background: red;
}

.holder-item {
  float: left;
  width: 1056px;
  min-height: 153px;
  background: yellow;
}

.holder-item img {
  float: left;
}

.aside-item {
  float: left;
}

.pic {
  float:right;
}

.main-footer {
  width: 1200px;
  background: green;

}

.box {
  background: red;
}

.footer-sedona {
  float: left;
  margin-right: 88px;
  text-align: center;
  width: 240px;
  background: yellow;
}

.footer-social {
  float: left;
  text-align: center;
  width: 400px;
  background: yellow;
}

.icon-html {
  float: right;
  text-align: center;
  width: 240px;
  background: yellow;
}
